* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box !important
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    padding-bottom: 50px;
}

/*
.stars {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all 10s linear;
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    animation: blink ease-in-out infinite;
}

.blink {
    animation: blink ease-in-out infinite;
}

@keyframes blink {
    20% {
        opacity: 0;
    }
}

.star-0 {
    height: 0.5px;
    width: 0.5px;
}

.star-1 {
    height: 1px;
    width: 1px;
}

.star-2 {
    height: 1.5px;
    width: 1.5px;
}

.star-3 {
    height: 2px;
    width: 2px;
}

.star-4 {
    height: 2.5px;
    width: 2.5px;
    box-shadow: 0px 0px 6px 1px rgba(255,255,255,0.5);
}

.star-5 {
    height: 2.5px;
    width: 2.5px;
    box-shadow: 0px 0px 6px 1px rgba(255,255,255,0.7);
}

.stars-cross {
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 120vw;
    height: 20vh;
    transform: rotate(20deg);
    transform-origin: top left;
}

.stars-cross-aux {
    position: absolute;
    top: 0vh;
    left: 10vw;
    width: 120vw;
    height: 10vh;
    transform: rotate(20deg);
    transform-origin: top left;
}

.stars-cross > .blur,
.stars-cross-aux > .blur {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    filter: blur(15px);
    width: 5px;
    height: 10px;
}

*/

.title {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: #f6f8ff;
    text-align: center;
    z-index: 1000;
    font-family: fontz;
}

.center-container {
    position: absolute;
    top: 30%;
    left: 53%;
    transform: translateX(-50%);
    width: 50%;
    color: rgb(241, 249, 253);
    z-index: 1; 
}

.button-square {
    bottom: 150px;
    width: 70px;
    height: 70px;
    margin: 10px;
    outline-style: solid;
    outline-color: azure;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    font-family: fontz;
}

.button-square:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px 5px rgba(240, 252, 206, 0.8);
}

.button-square::after {
    content: attr(data-hover-text);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
}

.button-square:hover::after {
    opacity: 1;
}

.lines{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #c7ebff 75%, #ffffff 100%);
    animation: drop 7s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    &:nth-child(1) {
    margin-left: -25%;
    
    &::after {
        animation-delay: 2s;
    }
    }

    &:nth-child(3) {
    margin-left: 25%;
    
    &::after {
        animation-delay: 2.5s;
    }
    }
}

@keyframes drop {
0% {
    top: -50%;
}
100% {
    top: 110%;
    }
}


.grid {
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(25, 20px);
    gap: 3px;
    backdrop-filter: blur(5px);
    margin-top: 13%;
    padding: 20px;
    left: 19%;
    width: 62%;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.089);
    border-radius: 50px;
    position: relative;
    z-index: 400;
}

.cell {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cell.start {
    background-color: #00ff00;
}

.cell.end {
    background-color: #ff0000;
}

.cell.wall {
    background-color: #57b6ec;
    animation: bgColor 5s infinite linear;
}

@keyframes bgColor {
    12.5% {
        background-color: #B2A4FF;
    }
    25% {
        background-color: #FFB4B4;
    }
    37.5% {
        background-color: #FFDEB4;
    }
    50% {
        background-color: #FDF7C3;
    }
    62.5% {
        background-color: #FFE6E6;
    }
    75% {
        background-color: #E1AFD1;
    }
    87.5% {
        background-color: #AD88C6;
    }
    100% {
        background-color: #7469B6;
    }
}

.cell.path {
    background-color: #ffffff;
    opacity: 90%;
}

.cell.visited {
    background-color: #b3e5fc;
}

.square-green-active {
    width: 15px;
    height: 15px;
    background-color: #00ff00;
    border-radius: 50px;
    position: absolute;
    left: 24%;
    top: 5%;
}

.square-red-active {
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50px;
    position: absolute;
    left: 25.6%;
    top: 5%;
}

.deactivate {
    opacity: 20%;
}
